@import "tailwindcss";

@theme {
  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;
  
  --color-on-surface: #2d2f31;
  --color-primary: #9c3f00;
  --color-primary-container: #ff7a2f;
  --color-surface: #f6f6f9;
  --color-surface-container: #e7e8eb;
  --color-surface-container-low: #f0f0f3;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface-variant: #5a5c5e;
  --color-tertiary-container: #fbb423;
  --color-on-tertiary-container: #523700;
  --color-error: #b02500;
}

@layer base {
  body {
    @apply font-body bg-surface text-on-surface antialiased;
  }
  
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    @apply inline-block align-middle;
  }

  .editorial-gradient {
    background: linear-gradient(135deg, #9c3f00 0%, #ff7a2f 100%);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
